*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 360px;
  margin: 0 auto;
  font-family: "Gill Sans", sans-serif;
  background-color: grey;
}

@media only screen and (max-width: 760px) and (min-width: 360px) {
  body {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  body {
    /* width: 768px; */
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  body {
    width: 1024px;
  }
}
