*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 360px;
  margin: 0 auto;
  font-family: "Gill Sans", sans-serif;
}

@media only screen and (max-width: 760px) and (min-width: 360px) {
  body {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  body {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  body {
    width: 1024px;
  }
}

/* navbar */

.navbar {
  overflow: hidden;
  background-color: #f0f0f0;
  position: relative;
}

.navbar #myLinks {
  display: none;
}

.navbar a {
  color: #e1c16e;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.navbar a.icon {
  background: white;
  font-size: 25px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 20px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: white;
}

.hotel-resort {
  color: #56bfc2;
  font-size: 30px;
  text-shadow: 1px 1px grey;
}

/* imagen principal, h2, boton habitaciones */

.intro {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url("images/home-image.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 350px;
}

.cta-home {
  box-shadow: 0px 0px 15px -5px;
  border: 0.5px solid #a9a9a9;
  background: rgba(120, 120, 120, 0.5);
  margin: 80px 50px;
}

.intro_title {
  color: white;
  text-shadow: 2px 2px grey;
}

.line_intro_title {
  border: 1px solid #e1c16e;
  width: 25%;
  margin-top: -5px;
}

.intro_spirit {
  color: white;
  text-shadow: 2px 2px grey;
}

.intro_button {
  background-color: #e1c16e;
  padding: 5px 10px;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  /* border-radius: 10px; */
}

.intro_button:hover {
  background-color: rgba(232, 232, 232, 0.1);
  color: white;
  border: solid 2px #e1c16e;
  font-weight: bold;
  text-transform: uppercase;
}

/* services */
/* 
.services {
  padding-top: 30px;
  padding-bottom: 30px;
  height: 360px; 
} */

.services_title {
  text-align: center;
}

.line_services {
  border: 1px solid #e1c16e;
  width: 10%;
}

.services_items {
  display: flex;
  list-style: none;
  justify-content: center;
  flex-direction: column;
  background-color: #dcdcdc;
}

.services_item {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 50px 50px 20px 10px;
}

/* features rooms cards  */

.features_rooms_title {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  font-size: 18px;
}

.line_features_rooms {
  border: 1px solid #e1c16e;
  width: 30%;
  margin-top: -10px;
}

.cards {
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  border-radius: 5px;
  width: 350px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 15px -5px;
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px;
}
.card:hover button {
  opacity: 1;
  background-color: #56bfc2;
  font-size: 16px;
  padding: 16px 32px;
  cursor: pointer;
  color: white;
}

.card:hover .card-img {
  opacity: 0.5;
  /* transform: scale(1.1); */
  box-shadow: 0px 0px 15px 0px;
  cursor: pointer;
}

.card-img {
  /* border-radius: 10px 10px 0 0; */
  background-size: cover;
  background-position: center;
  background-image: url("https://pixabay.com/es/photos/hotel-resort-vino-botella-rojo-4689409/");
  overflow: hidden;
  height: 200px;
  width: 100%;
}

.card-body {
  padding: 10px 20px;
}
.card-body h2 {
  margin: 5px 0px;
  text-align: center;
}

.card-button {
  border: none;
  /* border-radius: 10px; */
  height: 50px;
  background-color: lightblue;
  width: 50%;
  transition: 0.6s linear;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  transition: 0.5s;
}

.card-button:hover {
  opacity: 1;
  background-color: red;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  cursor: pointer;
  transition: 0.6s ease;
}

@media screen and (max-width: 800px) {
}

/* footer */

.footer {
  display: flex;
  justify-content: center;
  background-color: #dcdcdc;
  font-size: 15px;
}
